
body {
  color: #777777;
  border-style: solid;
  border-color: #4aaaa5;
  border-width: 2px;
  padding: 1px;
  margin: 1px;
  background: #ffffff;
  background-image: url("../images/concrete_seamless.png");
  position: relative;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

header {
    background: white;
    height: 68px;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  a {
    text-decoration: none;
    color: #777777;
  }
  .nav-header-content {
    width: 960px;
    height: 68px;
    position: relative;
    margin: auto;
    border-bottom: 1px solid #cccccc;

  }

  .nav-list {
    position: absolute;
    list-style: none;
    padding-top: 20px;
    right: 0;
  }

  #name-tab {
    position: absolute;
    background:#4aaaa5;
    padding: 0px 15px 0px 15px;
    left: 0px;
    bottom: 0px;
    color: white;
  }

  .nav-list {
    position: absolute;
    list-style: none;
    padding-top: 20px;
    right: 0;
  }

  .nav-link-left {
    float: left;
    margin-right: 10px;
  }

  .nav-link-center {
    float: left;
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 1px 0px 1px;
  }

  .nav-link-right {
    float: left;
    margin-right: 10px;
  }

  .middle {
    margin: auto;
  }

  .content {
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    width: 914px;
    padding: 5px 20px 20px 20px;
    color: #777777;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: auto; */
    margin-bottom: calc(100vh - 600px);
    /* margin-bottom: 80px; */
    /* flex: 1 0 auto; */
  }

  #about-me {
    overflow: scroll;
    line-height: 1cm;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

  #content-header {
    color: #4aaaa5;
    border-bottom: 1px solid #cccccc;
    height: 48px;
    margin-bottom: 0px;
  }

  footer {
    text-align: center;
    background: #666666;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    border-top: 8px solid #4aaaa5;
    /* flex-shrink: 0; */
  }

  #copyright {
    position: absolute;
    bottom: 5px;
    display: inline-block;
    color: white;
}

img {
  float: left;
  margin: 25px 20px 10px 0px;
  vertical-align: text-top;
}

/* #contact-form-content {
  margin-bottom: 220px;
} */

.contact-form {
  margin: 20px 0px 3px 0px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.one-line-input {
  width: 100%;
  margin: 5px 0px 15px 0px;
}

.multi-line-input {
  width: 100%;
  padding: 0px 0px 200px 0px;
  margin: 5px 0px 12px 0px;
  overflow: scroll;

}

.button {
  background: #4aaaa5;
  color: white;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  padding:  10px 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  width: 0;
  margin-bottom: 10px;
}

.grid-item {
  position: relative;
}

.porfolio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  background-color: #4aaaa5;
  float: left;
  position: absolute;
  bottom: 18px;
}

.div-label {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #ffffff;
  display: inline-block;
}